# Repository-specific ownership. This file is not inherited.
* @terryrogers

/.github/ @terryrogers
/CODE_OF_CONDUCT.md @terryrogers
/CONTRIBUTING.md @terryrogers
/SECURITY.md @terryrogers
/SUPPORT.md @terryrogers
